In [18]:
import pandas as pd
from io import StringIO

In [33]:
df = pd.read_excel('/content/Beyond2020.xls')
df

,Joint Organisations Data Initiative - Primary (15 months),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unit,Thousand Barrels per day (kb/d),Product,Crude oil,BALANCE,Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Time,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,United States of America,11700.8065,11668.4,11629.129,11797.2667,11844,12002.4839,12337.3333,12416.871,12379.2667,12148.5806,12568.4516,12525.0714,12695.5161,12614.7,12274.1935
119,Uruguay,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
120,Venezuela,728,775,735,727,629,723,666,717,693,669,732,704,754,810,819
121,Vietnam,187.8828,183.0435,180.1768,192.0438,174.9067,181.3884,176.544,166.5778,174.8514,179.1542,172.0589,176.1143,0,0,0
122,Yemen,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [36]:
df = pd.read_excel('/content/Beyond2020.xls', skiprows=5)
df

,Time,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
0,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
2,Algeria,996.0000,1006.0000,1015.0000,1027.0000,1040.0000,1053.0000,1058.0000,1060.0000,1021.0000,1009.0000,1012.0000,1014.0000,1008.0000,999.0,962.0000
3,Angola,1133.0000,1183.0000,1162.0000,1175.0000,1180.0000,1179.0000,1091.0000,1051.0000,1088.0000,1088.0000,1105.0000,1064.0000,972.0000,1063.0,1111.0000
4,Argentina,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,United States of America,11700.8065,11668.4000,11629.1290,11797.2667,11844.0000,12002.4839,12337.3333,12416.8710,12379.2667,12148.5806,12568.4516,12525.0714,12695.5161,12614.7,12274.1935
114,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
115,Venezuela,728.0000,775.0000,735.0000,727.0000,629.0000,723.0000,666.0000,717.0000,693.0000,669.0000,732.0000,704.0000,754.0000,810.0,819.0000
116,Vietnam,187.8828,183.0435,180.1768,192.0438,174.9067,181.3884,176.5440,166.5778,174.8514,179.1542,172.0589,176.1143,0.0000,0.0,0.0000
117,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000

In [39]:
new_headers = df.columns.tolist()
df.columns = new_headers

df.reset_index(drop=True, inplace=True)

df

,Time,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
0,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
2,Algeria,996.0000,1006.0000,1015.0000,1027.0000,1040.0000,1053.0000,1058.0000,1060.0000,1021.0000,1009.0000,1012.0000,1014.0000,1008.0000,999.0,962.0000
3,Angola,1133.0000,1183.0000,1162.0000,1175.0000,1180.0000,1179.0000,1091.0000,1051.0000,1088.0000,1088.0000,1105.0000,1064.0000,972.0000,1063.0,1111.0000
4,Argentina,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,United States of America,11700.8065,11668.4000,11629.1290,11797.2667,11844.0000,12002.4839,12337.3333,12416.8710,12379.2667,12148.5806,12568.4516,12525.0714,12695.5161,12614.7,12274.1935
114,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
115,Venezuela,728.0000,775.0000,735.0000,727.0000,629.0000,723.0000,666.0000,717.0000,693.0000,669.0000,732.0000,704.0000,754.0000,810.0,819.0000
116,Vietnam,187.8828,183.0435,180.1768,192.0438,174.9067,181.3884,176.5440,166.5778,174.8514,179.1542,172.0589,176.1143,0.0000,0.0,0.0000
117,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000

In [40]:
df = df.drop(0)
df

,Time,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
1,Albania,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
2,Algeria,996.0000,1006.0000,1015.0000,1027.0000,1040.0000,1053.0000,1058.0000,1060.0000,1021.0000,1009.0000,1012.0000,1014.0000,1008.0000,999.0,962.0000
3,Angola,1133.0000,1183.0000,1162.0000,1175.0000,1180.0000,1179.0000,1091.0000,1051.0000,1088.0000,1088.0000,1105.0000,1064.0000,972.0000,1063.0,1111.0000
4,Argentina,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
5,Armenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,United States of America,11700.8065,11668.4000,11629.1290,11797.2667,11844.0000,12002.4839,12337.3333,12416.8710,12379.2667,12148.5806,12568.4516,12525.0714,12695.5161,12614.7,12274.1935
114,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000
115,Venezuela,728.0000,775.0000,735.0000,727.0000,629.0000,723.0000,666.0000,717.0000,693.0000,669.0000,732.0000,704.0000,754.0000,810.0,819.0000
116,Vietnam,187.8828,183.0435,180.1768,192.0438,174.9067,181.3884,176.5440,166.5778,174.8514,179.1542,172.0589,176.1143,0.0000,0.0,0.0000
117,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000

In [43]:
df = df.drop(1)
df

,Time,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
2,Algeria,996.0000,1006.0000,1015.0000,1027.0000,1040.0000,1053.0000,1058.0000,1060.0000,1021.0000,1009.0000,1012.0000,1014.0000,1008.0000,999.0000,962.0000
3,Angola,1133.0000,1183.0000,1162.0000,1175.0000,1180.0000,1179.0000,1091.0000,1051.0000,1088.0000,1088.0000,1105.0000,1064.0000,972.0000,1063.0000,1111.0000
4,Argentina,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5,Armenia,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,Australia,287.6753,306.7265,323.2850,315.1372,236.5500,255.6266,288.3282,295.5603,283.0715,288.1840,271.1423,277.6646,258.6789,241.0182,256.1353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,United States of America,11700.8065,11668.4000,11629.1290,11797.2667,11844.0000,12002.4839,12337.3333,12416.8710,12379.2667,12148.5806,12568.4516,12525.0714,12695.5161,12614.7000,12274.1935
114,Uruguay,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
115,Venezuela,728.0000,775.0000,735.0000,727.0000,629.0000,723.0000,666.0000,717.0000,693.0000,669.0000,732.0000,704.0000,754.0000,810.0000,819.0000
116,Vietnam,187.8828,183.0435,180.1768,192.0438,174.9067,181.3884,176.5440,166.5778,174.8514,179.1542,172.0589,176.1143,0.0000,0.0000,0.0000
117,Yemen,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [44]:
df.rename(columns={'Time': 'Country'}, inplace=True)

df.reset_index(drop=True, inplace=True)

In [45]:
df.head()

,Country,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
0,Algeria,996.0000,1006.0000,1015.000,1027.0000,1040.00,1053.0000,1058.0000,1060.0000,1021.0000,1009.000,1012.0000,1014.0000,1008.0000,999.0000,962.0000
1,Angola,1133.0000,1183.0000,1162.000,1175.0000,1180.00,1179.0000,1091.0000,1051.0000,1088.0000,1088.000,1105.0000,1064.0000,972.0000,1063.0000,1111.0000
2,Argentina,0.0000,0.0000,0.000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000
3,Armenia,0.0000,0.0000,0.000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000
4,Australia,287.6753,306.7265,323.285,315.1372,236.55,255.6266,288.3282,295.5603,283.0715,288.184,271.1423,277.6646,258.6789,241.0182,256.1353

In [47]:
numerical_columns = df.columns[1:]
df[numerical_columns] = df[numerical_columns].round(1)
df

,Country,Mar2022,Apr2022,May2022,Jun2022,Jul2022,Aug2022,Sep2022,Oct2022,Nov2022,Dec2022,Jan2023,Feb2023,Mar2023,Apr2023,May2023
0,Algeria,996.0,1006.0,1015.0,1027.0,1040.0,1053.0,1058.0,1060.0,1021.0,1009.0,1012.0,1014.0,1008.0,999.0,962.0
1,Angola,1133.0,1183.0,1162.0,1175.0,1180.0,1179.0,1091.0,1051.0,1088.0,1088.0,1105.0,1064.0,972.0,1063.0,1111.0
2,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Armenia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Australia,287.7,306.7,323.3,315.1,236.6,255.6,288.3,295.6,283.1,288.2,271.1,277.7,258.7,241.0,256.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,United States of America,11700.8,11668.4,11629.1,11797.3,11844.0,12002.5,12337.3,12416.9,12379.3,12148.6,12568.4,12525.1,12695.5,12614.7,12274.2
112,Uruguay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113,Venezuela,728.0,775.0,735.0,727.0,629.0,723.0,666.0,717.0,693.0,669.0,732.0,704.0,754.0,810.0,819.0
114,Vietnam,187.9,183.0,180.2,192.0,174.9,181.4,176.5,166.6,174.8,179.2,172.1,176.1,0.0,0.0,0.0
115,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df.isnull().sum()

Country    0
Mar2022    0
Apr2022    0
May2022    0
Jun2022    0
Jul2022    0
Aug2022    0
Sep2022    0
Oct2022    0
Nov2022    0
Dec2022    0
Jan2023    0
Feb2023    0
Mar2023    0
Apr2023    0
May2023    0
dtype: int64

In [52]:
df.dtypes

Country     object
Mar2022    float64
Apr2022    float64
May2022    float64
Jun2022    float64
Jul2022    float64
Aug2022    float64
Sep2022    float64
Oct2022    float64
Nov2022    float64
Dec2022    float64
Jan2023    float64
Feb2023    float64
Mar2023    float64
Apr2023    float64
May2023    float64
dtype: object

In [53]:
df.to_excel('CleanedData.xlsx', index=False)